<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<form action="#" th:action="@{/}">
		<input class="home_button" type="submit" value  = "HOME"/>
	</form>
    <h1>Create Student</h1>
	<form action="#" th:action="@{/createStudent}">
                <label>Name: </label><input type="text" th:name="studentName" th:value="*{studentName}" /><br/>
                <label>Student Number: </label><input type="text" th:name="studentNo" th:value="*{studentNo}" /><br/>
                <label>Email: </label><input type="text" th:name="email" th:value="*{email}" /><br/>
                <label>Username: </label><input type="text" th:name="username" th:value="*{username}" /><br/>
                <label>Password: </label>   <input type="password" th:name="password" th:value="*{password}" /><br/>
                
                <input class="bottom_button" type="submit" value="Create" />
    </form>
</body>
</html>