<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suh Dude Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css"></link>
</head>
<body>
	<form action="#" th:action="@{/}">
		<input class="home_button" type="submit" value  = "HOME"/>
	</form>
	<form action="#" th:action="@{/createProject}">
                <label>Project Name:</label><input type="text" th:name="name" th:value="*{name}"/><br/>
                <label>Max Number of Students: </label><input type="text" th:name="max" th:value="*{max}" /><br/>
                <input class="bottom_button" type="submit" value="Create" />
    </form>
</body>
</html>