<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suh Dude Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/}">
		<input type="submit" value  = "HOME"/>
	</form>
	<form action="#" th:action="@{/createStudent}">
                <p>Name: <input type="text" th:name="studentName" th:value="*{studentName}" /></p>
                <p>Student Number: <input type="text" th:name="studentNo" th:value="*{studentNo}" /></p>
                <p>Email: <input type="text" th:name="email" th:value="*{email}" /></p>
                <input type="submit" value="Create" />
    </form>
</body>
</html>