<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suh Dude Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/}">
		<input type="submit" value  = "HOME"/>
	</form>
	<form action="#" th:action="@{/createProfessor}">
                <p>Prof: <input type="text" th:name="profName" th:value="*{profName}" /></p>
                <p>email: <input type="text" th:name="email" th:value="*{email}" /></p>
                <input type="submit" value="Create" />
    </form>
</body>
</html>