<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<form action="#" th:action="@{/}">
			<input class="home_button" type="submit" value  = "HOME"/>
		</form>
	<div th:if="${not #lists.isEmpty(projects)}">
    	<h2>Project List:</h2>
        <p th:text="${projects.size()}"></p>
	    <table>
	        <tr th:each="project : ${projects}">
	            <td th:text="${project.name}"></td>
	            <td th:text="${project.id}"></td>
	            <td th:text="${project.prof.name}"></td>
	            <td th:text="${project.maxStudents}"></td>
	            <td>
	            	<form action="#" th:action="@{/viewProject}">
                		<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
                		<input class="bottom_button" type="submit" value="View" />
        			</form>
	            </td>
	            <td>
	            	<form th:if="${isProf} == true" action="#" th:action="@{/deleteProject}">
                		<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
                		<input class="bottom_button" type="submit" value="Delete" />
        			</form>
        			
        			<form th:if="${isStu} == true" action="#" th:action="@{/applyForProject}">
			    		<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
			    		<input class="bottom_button" type="submit" value="Apply" />
					</form>
	            </td> 
	        </tr>
	    </table>
	          
	</div>
</body>
</html>