<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/}">
			<input type="submit" value  = "HOME"/>
		</form>
	<div th:if="${not #lists.isEmpty(projects)}">
    	<p>Project List:</p>
        <p th:text="${projects.size()}"></p>
	    <table>
	        <tr th:each="project : ${projects}">
	            <td th:text="${project.name}"></td>
	            <td th:text="${project.id}"></td>
	            <td th:text="${project.prof}"></td>
	            <td th:text="${project.maxStudents}"></td>
	            <td>
	            	<form action="#" th:action="@{/viewProject}">
                		<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
                		<input type="submit" value="View" />
        			</form>
	            </td>
	            <td>
	            	<form action="#" th:action="@{/deleteProject}">
                		<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
                		<input type="submit" value="Delete" />
        			</form>
	            </td>
	            
	        </tr>
	    </table>
	    
	    
    	<form action="#" th:action="@{/applyForProject}">
    		<p>Student Number: <input type="text" th:name ="studentNo" th:value="*{studentNo}" /></p>
    		<p>Project Id: <input type="text" th:name ="projectId" th:value="*{projectId}" /></p>
    		<input type="submit" value="Apply" />
		</form>
	          
	</div>
</body>
</html>