<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suh Dude Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<form action="#" th:action="@{/logout}">
		<input class="home_button" type="submit" value  = "LOGOUT"/>
	</form><br/>
    <h1>SUUUUUUUHHHHH DUDE</h1>
    <form action="#" th:action="@{/displayProjects}">
		<input class="hello_button" type="submit" value  = "Display Projects"/>
	</form>
	<form th:if="${isProf} == true" action="#" th:action="@{/createProjects}">
		<input class="hello_button" type="submit" value  = "Create a Project"/>
	</form>
  <form th:if="${isCoor} == true" action="#" th:action="@{/studentsWithoutProjects}">
		<input class="hello_button" type="submit" value  = "View Students Without Projects"/>
	</form>
</body>
</html>
