<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suh Dude Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>SUUUUUUUHHHHH DUDE</p>
    
    <form action="#" th:action="@{/displayProjects}">
		<input type="submit" value  = "Display Projects"/>
	</form>
	<form action="#" th:action="@{/createProjects}">
		<input type="submit" value  = "Create a Project"/>
	</form>
	<form action="#" th:action="@{/createProfessors}">
		<input type="submit" value  = "Create a Prof"/>
	</form>
	<form action="#" th:action="@{/createStudents}">
		<input type="submit" value  = "Create a Student"/>
	</form>
</body>
</html>