<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<form action="#" th:action="@{/}">
		<input class="home_button" type="submit" value  = "HOME"/>
	</form>
    <p th:text="'Project name: ' + ${project.name}"></p>
    <p th:text="'Prof: ' + ${project.prof}"></p>
    <p th:text="'Students: ' + ${project.name}"></p>
    <p th:text="'Max Students: ' + ${project.maxStudents}"></p>
	<div th:if="${not #lists.isEmpty(project.applicants)}">
	    <h2>Applicants</h2>
		<table>
			<tr th:each="studentApplied : ${project.applicants}">
				<td th:text="${studentApplied.name}"></td>
				<td>
					<form action="#" th:action="@{/approveForProject}">
						<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
						<input type="text" th:name="studentName" th:value="${studentApplied.username}" hidden="true"/>
						<input class="bottom_button" type="submit" value="Approve" />
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div th:if="${not #lists.isEmpty(project.students)}">
		<h2>Approved Students</h2>
		<table>
			<tr th:each="studentApproved : ${project.students}">
				<td th:text="${studentApproved.name}"></td>
			</tr>
		</table>
	</div>
	<form action="#" th:action="@{/withdrawProject}">
		<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
		<input class="bottom_button" type="submit" value="Withdraw" />
	</form>

	<form action="#" th:action="@{/applyForProject}">
		<input type="text" th:name="projectId" th:value="${project.id}" hidden="true"/>
		<input class="bottom_button" type="submit" value="Apply" />
	</form>
	<!--
	<form action="#" th:action="@{/submitReport}">
		<input type="type" th:name="projectId" th:value="${project.id}" hidden="true"/>
		<input type="file"/>
		<input class="bottom_button" type="submit" value="Submit Report" />
	</form>
	-->
    
</body>
</html>
