<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/home}">
		<p><input type="submit" value  = "HOME"/>
	</form>
    <p th:text="'Project name: ' + ${project.name}"></p>
    <p th:text="'Description: ' + ${project.description}"></p>
    <p th:text="'Prof: ' + ${project.prof}"></p>
    <p th:text="'Students: ' + ${project.name}"></p>
    <p th:text="'Max Students: ' + ${project.maxStudents}"></p>
	<div th:if="${not #lists.isEmpty(project.students)}">
	    <table>
		        <tr th:each="student : ${project.students}">
		            <td th:text="${student.name}"></td>     
		        </tr>
		</table>
	</div>
	<div th:if="${not #lists.isEmpty(project.studentsApplied)}">
		<table>
		        <tr th:each="studentApplied : ${project.studentsApplied}">
		            <td th:text="${studentApplied.name}"></td>     
		        </tr>
		</table>
	</div>
	
	
    
</body>
</html>