<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule Presentation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>

	<form action="#" th:action="@{/}">
			<input type="submit" value  = "HOME"/>
		</form><br/>
	<h1>Scheduler</h1>
	<p>Enter the times you are unavailable</p>
	<p>Example: 8:00-10:00, 13:00-13:30</p>
	<form action="#" th:action="@{/addSchedule}">
		<table>
			<tr>
				<td><label>Monday</label></td>
				<td><input type="text" th:name ="monday" th:value="*{monday}" /></td>
			</tr>
			<tr>
				<td><label>Tuesday</label></td>
				<td><input type="text" th:name ="tuesday" th:value="*{tuesday}" /></td>
			</tr>
			<tr>
				<td><label>Wednesday</label></td>
				<td><input type="text" th:name ="wednesday" th:value="*{wednesday}" /></td>
			 </tr>
			<tr>
				<td><label>Thursday</label></td>
				<td><input type="text" th:name ="thursday" th:value="*{thursday}" /></td>
			</tr>
			 <tr>
				<td><label>Friday</label></td>
				<td><input type="text" th:name ="friday" th:value="*{friday}" /></td>
			 </tr>
		</table>
	    <input class="bottom_button" type="submit" value="Submit" />
	</form>	
	<form action="#" th:action="@{/displayAvailibility}">
			<input type="submit" value  = "Display Current Availibility"/>
		</form><br/>

</body>
</html>
