h1, h2, p, input, label {
	font-family: Helvetica, sans-serif; 
    margin-top: 5px;
}

h2 {

}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    padding-right: 5px;
}

h1{
	margin-left: 50px;
}

.home_button{
    margin-bottom: 10px;
}

.bottom_button{
    margin-left: 50px;
    margin-top: 10px;
    float:left;
}
